.git
logs
rebel.xml
/target/
!.mvn/wrapper/maven-wrapper.jar
log.path_IS_UNDEFINED
.DS_Store
offine_user.md

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
*.jar
*.war
*.ear
/.settings/
/.classpath
.class

### Example user template template
### Example user template

# IntelliJ project files
.idea
*.iml
out
gen
